---

---
<p class="text-sub-color text-lg">tip: You can also change all these settings quickly using the command line (esc or ctrl+shift+p)</p>
<ul class="flex w-full justify-between text-sub-color text-lg">
    <li>
        <a href="#group_account">
            account
        </a>
    </li>

    <li>
        <a href="#group_behavior">
            behavior
        </a>
    </li>

    <li>
        <a href="#group_input">
            input
        </a>
    </li>

    <li>
        <a href="#group_sound">
            sound
        </a>
    </li>

    <li>
        <a href="#group_caret">
            caret
        </a>
    </li>

    <li>
        <a href="#group_appearance">
            appearance
        </a>
    </li>

    <li>
        <a href="#group_theme">
            theme
        </a>
    </li>

    <li>
        <a href="#group_hideElement">
            hide elements
        </a>
    </li>
    <li>
        <a href="#group_dangerZone">
            danger zone
        </a>
    </li>
</ul>

<style>
    a:hover{
        color: var(--text-color);
    }
</style>