---
export interface Props {
	title: string;
}
import Nav from "../components/NavBar/Nav.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="bg-[var(--bg-color)] min-h-screen flex items-center flex-col " >
		<main class="w-screen xl:w-[1250px] max-w-[1250px]  h-screen flex flex-col justify-between py-6">
			<Nav/>
			<slot />
			<div></div>
		</main>
	</body>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="https://kit.fontawesome.com/8fd7ce7bb4.js" crossorigin="anonymous"></script>
</html>


<style is:global>
	@font-face {
		font-family: "Roboto Mono";
		src: url("../../webfonts/RobotoMono-Regular.ttf") format("truetype");
	}
	:root {
		--bg-color: #323437;
		--main-color: #e2b714;
		--caret-color: #e2b714;
		--sub-color: #646669;
		--sub-alt-color: #2c2e31;
		--text-color: #d1d0c5;
		--error-color: #ca4754;
		--error-extra-color: #7e2a33;
		--colorful-error-color: #ca4754;
		--colorful-error-extra-color: #7e2a33;
		--font:"Roboto Mono", monospace;
	}
	ion-icon{
		width: 20px;
		height: 20px;
	}
	body{
		color: var(--text-color);
		font-family: var(--font);
		caret-color: var(--caret-color);
	}
	body::selection{
		background-color: var(--main-color);
		color: var(--bg-color);
	}
	h1,h2,h3,h4,h5,h6, p{
		cursor: default;
	}
</style>

